@charset utf-8;
.dcawizard{border-top:1px solid #BBB;background-color:#FAFAFA;overflow:visible}
.dcawizard .tl_listing_container{margin:0;padding:0}
.dcawizard .tl_show{width:655px}
.dcawizard .tl_empty_parent_view{padding:10px}
.dcawizard .tl_formbody_edit{padding-top:10px;padding-right:0}
.dcawizard .tl_error{background:#FAEEEE url(http://www.medtronic-diabetes.co.uk/system/themes/default/images/error.gif) no-repeat 2px 50%;font-size:11px;padding:4px 2px 5px 22px}
.dcawizard .tl_tbox .tl_error,.dcawizard .tl_box .tl_error{font-size:10px;background:none;padding:0}
h3 .tl_content_right{font-weight:400}
h3 .tl_content_right a:after{content:"  ::  "}
h3 .tl_content_right a:last-child:after{content:""}
.dcawizard h1,.dcawizard h2,.dcawizard .tl_panel,.dcawizard #tl_buttons,.dcawizard .tl_listing_container .tl_header,.dcawizard #saveNback{display:none}
.dcawizard .long .tl_text,.dcawizard .tl_textarea{width:642px}